<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav has-background-light" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div class="navbar is-fullwidth is-light">
      @if(!this.isLogged) {
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link" (click)="openModal()">
              Iniciar Sesión
            </a>
          </div>
        </div>
      } @else {
        <div class="navbar-item">
          <a class="pt-2">
            <figure class="image is-32x32 mr-2">
              <img class="is-rounded" [src]="photo | image" appNotProfile />
            </figure>
            <span class="pr-4">{{ this.username }}</span>
          </a>
        </div>
      }
    </div>
    <mat-nav-list>
        <app-sidebar></app-sidebar>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar>
      <div burguer>
        <div class="navbar-brand">
          <a class="navbar-item" (click)="drawer.toggle()">
            <figure class="image is-32x32">
              <img [src]="companyLogo | image" appNotLogo />
            </figure>
            <span class="ml-3">{{ companyName }}</span>
          </a>
        </div>
      </div>
    </app-toolbar>
    <ng-content select="[body]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
