<aside class="menu">
  @if(isLogged) {
    <p class="menu-label ml-2">Usuario</p>
    <ul class="menu-list">
      <li>
        <a>Mi Perfil</a>
      </li>
      <li>
        <a (click)="logout()">Cerrar Sesión</a>
      </li>
    </ul>
  }
  @for(module of modules; track $index) {
    <p class="menu-label ml-2">{{ module.name }}</p>
    <ul class="menu-list">
      @for(page of module.pages; track $index) {
      <li>
        <a (click)="redirectTo(page)" [ngClass]="{ 'is-active': this.activePage === page.name }">{{ page.name }}</a>
      </li>
      }
    </ul>
  }
  </aside>
