<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <strong>Mi Proyecto</strong>
      </a>
    </div>
  
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          
          <a class="button is-light is-hidden-desktop" (click)="onToggleSidebar()">
            ☰
          </a>
  
          <a class="button is-light">
            Salir
          </a>
  
        </div>
      </div>
    </div>
  </nav>
  