$primary: #3da9fc;
$seconday: #90b4ce;
$danger: #CF3030;
$warning: #feb139;
$link: #5f6c7b;
$info: #5f6c7b;
$success: #b5e48c;
$control-border-width: 2px;
$input-shadow: none;



// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Import Bulma
@import "bulma/bulma";
