<app-modal>
  <p modalTitle class="modal-card-title">Siguiente fase</p>
  <button modalCloseButton class="delete" aria-label="close" (click)="closeModal()"></button>
  <div modalContent>
    <div class="mb-3">
      <p><strong>Siguiente Fase:</strong> {{ nextPhase?.name }}</p>
    </div>
    <div class="field">
      <label class="label">Usuario a Cargo</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select
            [ngClass]="{ 'is-danger': this.userControl.hasError('required') && this.userControl.dirty }"
            [formControl]="userControl">
            <option [value]="null" disabled>Seleccione un usuario a cargo</option>
            @for(user of users; track $index) {
              <option [value]="user.id">
                {{ user.firstName }} {{user.lastName}}
              </option>
            }
          </select>
        </div>
      </div>
      @if(userControl.dirty && userControl.invalid) {
        <p class="help is-danger">
          Selecciona un usuario valido
        </p>
      }
    </div>
  </div>
  <div modalButtons>
    <button type="submit" class="button is-success" (click)="saveNextPhase()">Confirmar</button>
    <button type="button" class="button ml-2" (click)="closeModal()">Cancelar</button>
  </div>
</app-modal>
